.empty-chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-chat);
  border-bottom: 6px solid var(--wa-green);
}

.empty-chat .content {
  text-align: center;
  max-width: 500px;
  padding: 20px;
}

.icon-container {
  font-size: 80px;
  color: var(--text-secondary);
  margin-bottom: 30px;
}

.empty-chat h1 {
  font-size: 32px;
  font-weight: 300;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.empty-chat p {
  font-size: 14px;
  color: var(--text-secondary);
  line-height: 1.7;
}

.empty-chat .footer {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 30px;
  color: var(--text-muted);
  font-size: 14px;
}